{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
</head>
<body>
    <center>
        <h1 class="btn btn-secondary">material design bootstrap5</h1>
        <img src="{% static 'images/nobi.jpg' %}">
    </center>
    <script src="{% static 'css/mdb.min.js' %}"></script>
</body>
</html>